<ion-view title="Reports">

<ion-content has-header="true" padding="true">

  <div class="list card reports">
    <div class="item item-avatar">
      <img src="pics/{{employee.pic }}"/>
      <h2>{{employee.firstName}} {{employee.lastName}}</h2>
      <p>{{employee.title}}</p>
    </div>
    <!-- loop through employee reports use <a>
      and click the link should redirect to report person's detail page-->
    <a class="item item-avatar item-icon-left" 
      ng-repeat="" href="">
      
      <img src="pics/{{report.pic }}"/>
      {{report.firstName}} {{report.lastName}}
      <p>{{report.title}}</p>
    </a>
  </div>

</ion-content>

</ion-view>